<section class="featured-section col-md-6 " id="section">
    <div class=" justify-content-center">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Categories</h1>
                <p id="p">This is a list of all the avalible donation categories.</p>
            </div>
        </div> 
        <br>
        <div class="col-12  justify-content-center" >
            <div class="col-12"  *ngFor="let m of categories">
                <div id="minibars">
                <mat-card>
                    <mat-card-content>
                        <p>Category name: {{m.name}}</p>
                        <p *ngIf="m.users.length > 0">Number of users who applied to the category: {{m.users.length}}</p>
                        <p *ngIf="m.users.length == 0">No users applied for this category</p>
                    </mat-card-content>
                </mat-card>
            </div>
            <br>
            </div>
            <button routerLink="/add-category" id="button">Add new category</button>
        </div>
    </div>
</section>
