#section{
    margin: auto;
}
h1{
    text-align: center;
    margin-top: 40px;
}
#categories{
    margin-top: 20px;
    box-shadow: 2px 2px 6px #72fa04b7;
}
  button{
    margin: 20px auto;
    display: block;
    width: 30%;
    max-width: 300px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f19f10;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}
button:hover {
    background-color: #7CB518;
}
.remove{
    background-color: #FB6107;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    border: none;
    border-radius: 0px;
    padding: 5px;
    float: right;
}
.remove:hover{
    opacity: 0.9;
    background-color: #FB6107;
}