form {
    border: 3px solid #f3df2c98;
    width: 40%;
    margin:auto;
    margin-top: 40px;
    margin-bottom: 40px ;
  }
  .form-group{
    padding: 15px;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for the submit/register button */
  button{
    margin: 0 auto;
    display: block;
    width: 45%;
    max-width: 300px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f19f10;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}
button:hover {
  background-color: #FB6107
  }
  
  /* Add a blue text color to links */
  a{
    text-decoration: none;
    color: #f19f10;
  }
  a:hover{
    color: #FB6107;
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }

  .alert {
    background-color: #eeeeee;
    color: #FB6107
  }
  .pass-info{
    color: #7CB518;
    font-size: x-small;
    text-align: right;
  }