<div class="container">
    <form [formGroup]="form">
        <div class="text-center">
          <br> 
          <h1 class="text-theme-primary">Donate</h1>
          <p>Please fill out the form to donate</p>
          <p class="disclaimer">
            By finalizing your donation, you agree that all donations are irreversible and that you are not entitled to a refund for any reason.
          </p>
        </div>
<div class="">
    <div class="card">
      <div class="card-body">
        <div class="form-group" *ngIf="categories.length > 0">
          <label >Select Category:</label>
          <select formControlName="category" class="form-control" id="category">
            <option *ngFor="let i of categories" [value]="i.id">{{ i.name }}</option>
          </select>
        </div>
        <br>
        <div class="form-group">
            <label >Amount to donate:</label>
            <input type="number" formControlName="amount" class="form-control" id="amount" placeholder="Amount to donate in $" >
          </div>
        </div>
        <button *ngIf="categories.length > 0" (click)="AddDonation()">Donate</button>
        <br>
      </div>
    </div>
</form>
<br>
<br>
</div>

