<div class="home">
    <img src="assets/images/home4.png" alt="slika hotela" class="home-hotel">
     <div class="text">
         <h1>Extending Compassion and Changing Lives</h1>
     </div>
     <div class="srednji">
        <p>
            At Helping Hand, we believe that together, we can make a difference.
            Our mission is to uplift communities and transform lives through compassion, 
            support, and sustainable initiatives. With your help, we strive to create a 
            world where everyone has access to the resources and opportunities they need to thrive.
         </p> 
         <div class="middle">
            <div class="left">
                <img src="assets/images/dad-kid.jpg" alt="picture of single father and son">
            </div>
            <div class="right">
                <h2>Impactful Stories of Change</h2>
                <p>
                 Meet John, a single father who struggled to provide for his children.
                  With the support of Helping Hand, he received help though <b>YOUR</b> donations. Today, John has a stable 
                  job and is on the path to a brighter future for his family.
                </p>
            </div>
         </div>  
         <div class="middle">
            <div class="left">
                <h2>Our Impact</h2>
                <p>Discover how our initiatives have touched countless lives, 
                    from providing healthy balanced meals. 
                    Each success story is a testament to the power of your generosity.
                    Furthermore, food donations have ripple effects beyond immediate hunger relief. 
                    They can relieve financial burdens on families, allowing them to allocate their 
                    limited resources to other essential needs, such as housing, education, or healthcare. 
                    Food donations also foster a sense of community and solidarity, bringing people together 
                    to support and uplift one another during challenging times.
                </p>
            </div>
            <div class="right">
                <img src="assets/images/volonteri.png" alt="picture of single father and son">
            </div>
        </div>
        
        <div class="middle">
            <div class="left">
                <img src="assets/images/donation.jpg" alt="picture of hands with mone">
            </div>
            <div class="right">
                <h2>  Be the Change, Take Action</h2>
                <p> Your support can create a ripple effect of change. 
                    Whether it's a small monthly donation or a big contribution,
                    every act of kindness counts. Together, we can make a 
                    lasting impact on the lives of those in need. Join us in our mission
                     to extend a helping hand to the vulnerable and underserved.
                </p>
            </div>
        </div>
            <div class="text">
                <h2>Connect and Follow</h2> 
            
                <p>Stay connected with Helping Hand and be a part of our journey.
                 Follow us on social media to receive regular updates, inspiring stories,
                  and ways to get involved. Together, we can amplify our reach and create
                   a wider network of support.</p>
            </div>
            <div class="text">
                 <h2>Contact Us</h2>
            
                <p>Have questions or want to learn more about our initiatives? We're here to help. 
                Feel free to reach out to our team at <b>helping_hand@gmail.com</b>. We value your feedback, ideas, and collaboration.
                Thank you for being a part of Helpin Hand. Together, let's make the world a better place, one act of kindness at a time.
                </p>
            </div>
     </div>

 </div>

