<div class="container">
    <form [formGroup]="form">
        <div class="text-center">
          <br> 
          <h1 class="text-theme-primary">Apply For Donation Category</h1>
          <p>Please select the donation category you want to apply to</p>
          <p class="disclaimer">
            By applying for a category, you agree to the terms and conditions of the category.
          </p>
        </div>
<div class="">
    <div class="card">
      <div class="card-body">
        <div class="form-group" *ngIf="categories.length > 0">
          <label >Select Category:</label>
          <select formControlName="category" class="form-control" id="category">
            <option *ngFor="let i of categories" [value]="i.id">{{ i.name }}</option>
          </select>
        </div>
        <div *ngIf="categories.length === 0">
            <p>You have applied to all avalible the categories</p>
        </div>
        <br>
          </div>
        <button *ngIf="categories.length > 0" (click)="Apply()">Apply for category</button>
        <button *ngIf="categories.length === 0" (click)="GoBack()">Go back to my categories</button>
        <br>
      </div>
    </div>
</form>
<br>
<br>
</div>