<section class="featured-section col-md-8 " id="section">
    <div class=" justify-content-center">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>My Donations</h1>
                <p id="p">This is a list of all the donation that you have made</p>
            </div>
        </div> 
        <br>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="filter-container">
                    <div class="filter-group"> 
                      <label for="orderBy">Order By Donated Amount:</label>
                      <select id="orderBy" [(ngModel)]="filters.isSortAscending" (change)="onOrderByChange()">
                        <option value="true">Ascending amount</option>
                        <option value="false">Descending amount</option>
                      </select>
                    </div>

                    <div class="filter-group">
                      <label for="dateOfDonation">Date of donation:</label>
                      <input type="date" id="dateOfDonation"[(ngModel)]="filters.dateOfDonation">
                    </div>
                  
                    <div class="filter-group">
                        <label for="floor">Leftover Amount:</label>
                        <input type="number" id="leftoverAmount" placeholder="Leftover amount of the donations" [(ngModel)]="filters.leftoverAmount">
                      </div>

                    <div class="filter-group">
                      <button (click)="apply()" id="dugmence">Apply Filters</button>
                    </div>
                  </div>
            </div>
          </div>
        <div class="col-10  justify-content-center" id="donacije" >
            <div class="col-12  justify-content-center"  *ngFor="let m of donations">
                <div id="categories">
                <mat-card>
                    <mat-card-content>
                        <p>Date of donation: {{m.donationDate | date:"dd/MM/YYYY"}}</p>
                        <p>Amount you donated: {{m.donationAmount}}$</p>
                        <p>Amount leftover from this donation: {{m.leftoverAmount}}$</p>
                        <p>Category name: {{m.category.name}}</p>
                    </mat-card-content>
                </mat-card>
            </div>
            <br>
            </div>
            <button (click)="Add()" id="button">Donate Again</button>

            <div class="col-md-12 text-center">
                <mat-paginator [length]="totalItems"
                  [pageSize]="pageSize"
                  [pageSizeOptions]="[2, 5, 10, 25, 100]"
                  [pageIndex]="currentPage - 1"
                  (page)="onPageChange($event)">
                </mat-paginator>
              </div>
        </div>
    </div>
</section>
 